<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
	<plugin>
        <pluginName>Wvision</pluginName>
		<pluginDescription><![CDATA[W-Vision Standard Plugin]]></pluginDescription>
		<pluginVersion>0.1</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp>0</pluginBuildTimestamp>
        <pluginIframeSrc></pluginIframeSrc>
		<pluginClassName>\Wvision\Plugin</pluginClassName>
		<pluginIncludePaths>
			<path>/Wvision/lib</path>
		</pluginIncludePaths>
		<pluginNamespaces>
			<namespace>Wvision</namespace>
		</pluginNamespaces>
		<pluginJsPaths>
            <path>/plugins/Wvision/static/js/startup.js</path>
		</pluginJsPaths>
		<pluginCssPaths>
            <path>/plugins/Wvision/static/css/plugin.css</path>
		</pluginCssPaths>
	</plugin>
</zend-config>
