@import 'settings';
@import 'foundation-emails';


/* Header */
table.header {
    background-color: $body-background;

    th.logo-container {
        padding-top: 26px;
        padding-bottom: 21px;

        img.logo {
            max-width: 200px !important;
        }
    }
}


/* Content */
table.content {
    border-radius: $global-radius;

    table.row {
        border-bottom: 1px solid darken($light-gray, 10%);
        &:last-child {border: 0 !important;}

        th.headline {                                                             // Headline
            padding: 20px 7% 15px 7% !important;

            h1 {
                font-weight: bold;
                margin: 15px 0;
            }

            p {
                font-size: 18px;
                font-weight: normal;
                color: lighten($dark-gray, 5%);
                margin: 15px 0 10px;
                line-height: 1.5;
            }
        }

        th.dynamic-data {                                                         // Dynamic Data
            padding: 20px 0 15px 0 !important;

            h3 {
                font-weight: bold;
                margin-bottom: 25px !important;
            }

            table.data-row {
                border-top: 1px solid darken($light-gray, 10%) !important;
                background-color: darken($light-gray, 5%) !important;

                th.first {
                    padding-top: 15px;

                    @media only screen and (max-width: #{$global-breakpoint}) {
                        padding-left: 15px !important;
                    }

                    p {
                        color: $primary-color;
                        margin: 0 !important;
                    }
                }

                th.last {
                    padding-top: 15px;

                    @media only screen and (max-width: #{$global-breakpoint}) {
                        padding-right: 15px !important;
                    }

                    p {
                        margin: 0 !important;
                    }
                }
            }

            table.callout {
                margin: 15px 0;

                th.callout-inner {
                    border: 0;

                    p {
                        color: $primary-color;
                        margin: 10px 0;
                    }
                }
            }

            .button {
                margin: 30px 0 15px 0 !important;

                table td {
                    border-radius: $button-radius;
                    border: 0;

                    a {
                        border-radius: $button-radius;
                        border: 0;
                        line-height: 1.5;
                        vertical-align: middle;

                        .icon {
                            display: inline;
                            height: 12px !important;
                            width: 12px !important;
                            text-decoration: none;
                            line-height: 1;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

/* Footer */
table.footer {
    background-color: $body-background;

    th.columns {
        padding-bottom: 25px;

        &.disclaimer {                                                          // Disclaimer
            padding-top: 25px;

            p {
                font-size: 12px;
                line-height: 1.6;
                color: $medium-gray;

                a,
                strong {
                    font-weight: bold;
                    color: $dark-gray;
                }
            }
        }

        &.social-media {
            a {
                display: inline-block;
                margin-right: 7px;
                width: 35px !important;
                height: 35px !important;
                &:last-child {margin: 0 !important;}

                img {
                    max-width: 35px !important;
                }
            }
        }
    }
}
