#pimcore_menu_wvision{
    background-image: url(/plugins/Wvision/static/img/wvision.svg) !important;
    width: 100%;
    height: 100%;
}

.wvision_icon_console {
    background: url(/plugins/Wvision/static/img/console.svg) center center no-repeat !important;
}
