<?php $logo = Asset::getByPath($this->config->Logo); ?>

<container class="header">
    <row class="collapse">
        <columns class="logo-container">
            <center>
                <img class="logo" src="<?= $logo->getThumbnail([
                        'width' => 200,
                        'height' => 60,
                        'contain' => true,
                        'format' => 'PNG',
                        'interlace' => true,
                        'quality' => 100
                    ])->getPath();
                ?>" alt="<?= $this->config->Firma; ?>">
            </center>
        </columns>
    </row>
</container>
