#pimcore_menu_wvision svg * {
    fill: #969696;
}

#pimcore_menu_wvision:hover svg * {
    fill: #fff;
}

.wvision_icon_about {
    background: url('/bundles/wvision/pimcore/img/wvision.svg') center center no-repeat !important;
}